{% extends 'clients/base.html' %}
{% block content %}
<h1>{{title}}:</h1>
<table class="table bg-light">
  <tr>
    <th>Number</th>
    <th>Project</th>
    <th>Client</th>
    <th>Interaction channel</th>
    <th>Manager</th>
    <th>Description</th>
    <th>Grade</th>
  </tr>
    {% for field in interactions_list %}
    <tr>
      <td>
        <a href="{{ field.get_absolute_url }}">{{field.pk}}</a>
      </td>
      <td>
        <a href="{{ field.project.get_absolute_url }}">{{field.project}}</a> 
      </td>
      <td>
        <a href="{{ field.client.get_absolute_url }}">{{field.client}}</a> 
      </td>      
      <td>{{field.get_message_channel_display}}</td>
      <td>
        {% for field in field.manager.all %}
        <p>{{field}}</p>
        {% endfor %}
      </td>
      <td>
        {% autoescape off %}
        {{field.description}}
        {% endautoescape %}
      </td>
      <td>{{field.get_grade_display}}</td>
    </tr>  
    {% endfor %}
</table>
{% endblock %}