{% extends 'client/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
     Edit
{% endblock %}
{% block content %}
{{ form.media }}
<form method="post" class="uniform">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ phone_formset | crispy }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ email_formset | crispy }}
        </div>
    </div>
    <br>
    <input type="submit" value="Create"/>
</form>
{% endblock %}
