{% extends 'clients/base.html' %}
{% block content %}
  <h1>Company name: &nbsp;<em>{{client_about.name_company}}</em></h1>
  <h2>Full name: <em>{{client_about.full_name_user}}</em></h2>
  <h2>Description: &nbsp;<em>{{client_about.company_description}}</em></h2>
  <h2>Date of created: &nbsp;<em>{{client_about.created}}</em></h2>
  <h2>Date of update: &nbsp;<em>{{client_about.updated}}</em></h2>
  <h2>Address: &nbsp;<em>{{client_about.address}}</em></h2>
  <br>
  <a href="{% url 'client_edit' client_about.pk %}">Edit</a>
{% endblock %}