{% extends 'clients/base.html' %}
{% block content %}
<h1>{{title}}</h1>
  <form action="{% url 'home' %}" method="get">
    <div>
      <h3>Sortered by:</h3>
      <ul>
        <li><button type="submit" name="orderby" value="name_company">Name company</button></li>
        <li><button type="submit" name="orderby" value="-name_company">Name company reversed</button></li>
        <li><button type="submit" name="orderby" value="created">Created</button></li>
        <li><button type="submit" name="orderby" value="-updated">Updated reversed</button></li>
      </ul>
    </div>
  </form>
<ul>
  {% for field in client_info %}
    <li>
      <h2><a href="{{ field.get_absolute_url }}">{{field.name_company}}</a> 
      &nbsp; &nbsp; &nbsp; {{field.created}}</h2>
    </li>
  {% endfor %}
  <div>
    {% include 'clients/pagination.html' %}
  </div>
</ul>
{% endblock %}
