{% extends 'clients/base.html' %}
{% block title %}
     Home
{% endblock %}
{% block content %}
  <style>
   a {
    text-decoration: none;
   }
   a:hover {
    text-decoration: underline;
   }
  </style>
<h1>{{title}}</h1>
  <form action="{% url 'home' %}" method="get">
    <div>
      <h3>Sortered by:</h3>
      <ul>
        <li><button type="submit" name="orderby" value="name_company">Name company</button></li>
        <li><button type="submit" name="orderby" value="-name_company">Name company reversed</button></li>
        <li><button type="submit" name="orderby" value="created">Created</button></li>
        <li><button type="submit" name="orderby" value="-updated">Updated reversed</button></li>
      </ul>
    </div>
  </form>
<div class="container">
  <ul>
  {% for field in client_info %}
    <li>
      <h3><a href="{{ field.get_absolute_url }}">{{field.name_company}}</a>
      &nbsp; &nbsp; &nbsp; {{field.created}}</h3>
    </li>
  {% endfor %}
    </ul>
  <div>
    {% include 'clients/pagination.html' %}
  </div>
</div>
{% endblock %}
